Source: rdesktop
Section: x11
Priority: optional
Maintainer: Ubuntu Core Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Laszlo Boszormenyi (GCS) <gcs@debian.hu>
Build-Depends: debhelper (>= 4.0.0), autotools-dev, libxt-dev, libx11-dev, libssl-dev, dpatch, libasound2-dev, libsamplerate-dev
Standards-Version: 3.8.0

Package: rdesktop
Architecture: any
Depends: ${shlibs:Depends}
Description: RDP client for Windows NT/2000 Terminal Server
 rdesktop is an open source client for Windows NT/2000 Terminal Server, capable
 of natively speaking its Remote Desktop Protocol (RDP) in order to present
 the user's NT/2000 desktop. Unlike Citrix ICA, no server extensions are
 required.

